body {
  background-color: green;
  background-repeat: repeat;
  width: 100%;
  text-align: center;
}

h1, h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

.container {
  margin: auto;
  width: 550px;
  background-color: lightgray;
  background-repeat: repeat;
  padding: 10px;
  position: relative;
  top: 100px;
  border: darkgreen solid 3px;
}